.CreateTodoButton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 5%;
    height: 5%;
    font-size: 3vh;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: white;
    z-index: 1;
    position: relative;
}

.CreateTodoButton:hover {
    box-shadow: 1px 1px 1px 1px gray;
}
